<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <link href="/css/gallery.css" rel="stylesheet" type="text/css">
</head>
<body class="container">

<header>
    <%- include("../partials/header"); %>
</header>

<main>
    <div class="well">
        <h1>Your full image gallery</h1>
        <p class="lead">Click any image to see its color palette</p>
    </div>
    <div class="well grid">
        <ul>
        <% for (let i=0; i < imagesData.images.length; i++) { %>
            <% let imageData = imagesData.images[i]; %>
            <li>
                <a href="/images?name=<%= imageData.name %>">
                    <img src="<%- imageData.url %>">
                </a>
            </li>
        <% } %>
        </ul>
    </div>
</main>

<footer>
    <%- include("../partials/footer"); %>
    <p>Background color from Vintage Travel / <a href="/images?name=Japan-colorful.jpg">Japan</a>.</p>
</footer>

</body>
</html>