<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <link href="/css/palette.css" rel="stylesheet" type="text/css">
    <script src="/js/palette.js"></script>
    <script>
        // alert("Passing imageData from server-side to client-side JavaScript...");
        var imageDataJson = <%-JSON.stringify(imageData)%>;
        var imageDataObject = eval(imageDataJson);
    </script>
</head>
<body class="container">

<header>
    <%- include("../partials/header"); %>
</header>

<ol class="breadcrumb">
    <li><a href="/">Gallery</a></li>
    <li class="active><a href="#"><%= imageData.name %></a></li>
</ol>

<main>
    <div class="well">
        <p>
            <div class="btn-group">
                <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Use this palette... <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a onclick="showPalette('html', imageDataObject)" data-toggle="modal" data-target="#codeModal">HTML</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a onclick="showPalette('css', imageDataObject)" data-toggle="modal" data-target="#codeModal">CSS</a></li>
                    <li><a onclick="showPalette('sass', imageDataObject)" data-toggle="modal" data-target="#codeModal">SCSS</a></li>
                    <li><a onclick="showPalette('scss', imageDataObject)" data-toggle="modal" data-target="#codeModal">SASS</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a onclick="showPalette('js', imageDataObject)" data-toggle="modal" data-target="#codeModal">JavaScript</a></li>
                </ul>
            </div>
        </p>
        <div class="row">
            <% let colorIndex = 0; %>
            <% let numColumnsOfColors = 2; //Allowed: 1, 2, or 3 with changes to col widths for colors and poster divs %>
            <% let colorsPerColumn = imageData.colors.length / numColumnsOfColors; %>
            <% for (let column = 1; column <= numColumnsOfColors; column++) { %>
            <div class="colors col-md-2 col-sm-2 col-xs-4">
                <ul>
                <% for (; colorIndex < column * colorsPerColumn; colorIndex++) { %>
                    <% let color = imageData.colors[colorIndex]; %>
                    <li style="background-color: <%= color %>;"
                        onclick="document.body.style.backgroundColor = '<%= color %>';">
                        <%= color %>
                    </li>
                <% } %>
                </ul>
            </div>
            <% } %>
            <div class="poster col-md-6 col-sm-8 col-xs-12">
                <img src="<%- imageData.url %>">
            </div>
        </div>
    </div>
</main>

<!-- Modal -->
<div class="modal fade" id="codeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <b><span class="modal-title">Use palette: <%= imageData.name %></span></b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="codeModalText">
                Coming soon: code to use this palette should appear here!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Copy to clipboard</button>
            </div>
        </div>
    </div>
</div>

<footer>
    <%- include("../partials/footer"); %>
    <p>Default background color from Vintage Travel / <a href="/images?name=Alaska.jpg">Alaska</a>.</p>
</footer>

</body>
</html>