<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <link href="/css/palette.css" rel="stylesheet" type="text/css">
</head>
<body class="container">

<header>
    <%- include("../partials/header"); %>
</header>

<ol class="breadcrumb">
    <li><a href="/">Gallery</a></li>
    <li class="active><a href="#"><%= imageData.name %></a></li>
</ol>

<main>
    <div class="well">
        <div class="row">
            <div class="colors col-md-4">
                <ul>
                <% for (let i=0; i < imageData.colors.length; i++) { %>
                    <% let color = imageData.colors[i]; %>
                    <li style="background-color: <%= color %>;"><%= color %></li>
                <% } %>
                </ul>
            </div>
            <div class="poster col-md-8">
                <img src="<%- imageData.url %>">
            </div>
        </div>
    </div>
</main>

<footer>
    <%- include("../partials/footer"); %>
    <p>Background color from Vintage Travel / <a href="/images?name=Alaska.jpg">Alaska</a>.</p>
</footer>

</body>
</html>